/* universal styles */
html {
  position: relative;
  top: 50px;
  font-size: 14px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.featured-project img,
.projects img {
  width: 100%;
}

.btn-primary {
  width: 11.4rem;
  padding: 1.3rem 0;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  background-color: #399bd1;
}

.btn-primary:hover {
  box-shadow: 0 0 12px rgba(0,0,0,0.9);
  background-color: #399bd1;
}

.btn-primary:active {
  box-shadow: 0 0 0 rgba(0,0,0,0.5);
  background-color: #399bd1;
}

.btn-primary:focus {
  background-color: #399bd1;
}

/* navbar */
.nav a {
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar-default .navbar-nav > .active > a {
  background-color: inherit;
  color: #399bd1;
}

/* jumbotron */
.jumbotron-bike {
  padding: 11.85rem 0;
  background-image: url('../images/jumbotron-bike.jpg');
}

.jumbotron-beer {
  padding: 11.85rem 0;
  background-image: url('../images/jumbotron-beer.jpg');
}

.jumbotron-duffel {
  padding: 11.85rem 0;
  background-image: url('../images/jumbotron-duffel.jpg');
}

.jumbotron-flowers {
  padding: 11.85rem 0;
  background-image: url('../images/jumbotron-flowers.jpg');
}

.jumbotron h1,
.jumbotron p {
    color: white;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron h1 {
  font-family: Monoton;
  font-size: 7.1rem;
  text-transform: uppercase;
}

.jumbotron p {
  max-width: 51.3rem;
  margin: auto;
  margin-bottom: 2.8rem;
}

/* projects */
.projects {
    margin-bottom: 5.85rem;
}

.img-container img {
  opacity: .65;
  transition: opacity .5s, transform .5s;
}

.img-container {
  overflow: hidden;
}

.img-container img:hover {
  opacity: 1;
  transform: scale(1.3);
}

.section-title {
    font-size: 1.7rem;
    font-weight: bold;
    color: #399bd1;
    margin-bottom: 1.4286rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
}

.cat-title {
  color: #399bd1;
}

.categories li {
    color: rgba(0,0,0,0.7);
    line-height: 1.4;
}

.by {
  font-size: 1rem;
}

/* footer */
.footer {
  background-color: #f3f3f3;
  padding-top: 5.2rem;
  padding-bottom: 5.2rem;
}
.footer .card-title {
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 1.4rem;
}

.footer .card-text {
  max-width: 42rem;
  margin: auto;
  padding-bottom: 1.4rem;
}

@media only screen and (max-width: 767px) {
    html {
      position: relative;
      top: 135px;
    }

    .jumbotron h1 {
      font-size: 5.7rem
    }
}
